* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

body {
  width: 1140px;  
  margin: 0 auto;
  min-width: 1020px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px;
}

.address {
  display: flex;
  font-style: normal;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: break-word;
}

.cover {
  min-height: 757px;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../images/lotus-flower.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lots {
  padding-top: 180px;
}

.about {
  padding-top: 120px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
  justify-items: center;
  align-items: start;
  min-height: 180px;
  padding-top: 180px;
}