.header-menu {
  padding-left: 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  text-transform: lowercase;
}

.header__link {
  text-decoration: underline;
  color: black;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.address a {
  color: black;
}

.header__address {
  width: 200px;
  justify-self: end;
  padding-right: 50px;
}

.cover__title {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  color: white;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 106px;
}

.aligned-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 95%;
  line-height: 1.15;
}

.cover__title-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.cover__title-center {
  justify-content: center;
  align-items: center;
}

.cover__title-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 13px;
  color: white;
}

.bet-button {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  padding: 7px 32px;
  appearance: none; 
  background: transparent;
  border-color: white;
  color: white;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 64px;
  padding-bottom: 24px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 25px;
  justify-items: center;
  list-style: none;
  padding-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  height: 100%;
}

.card-link {
  height: 100%;
  color: white;
  text-decoration: none;
}

.card_type_film {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/lots-images/lots-film.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_book {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../images/lots-images/lots-book.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_picture {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../images/lots-images/lots-picture.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  padding: 48px 40px 0 40px;
}

.card {
  display: flex;
  flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.card__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  font-style: normal;
  color: white;
  text-decoration: none;
  padding: 0px 40px 40px 40px;
}

.lots__look-more-link {
  font-size: 20px;
  text-transform: lowercase;
  padding-left: 54px;
  color: black;
}

.about__column {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__description {
  grid-column: span 2 / span 2;
}

.about__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 136px;
  padding-bottom: 100px;
}

.about__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 24px;
}

.footer__address {
  width: 250px;
  justify-self: start;
  padding-left: 50px;
}

.footer__menu-list {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  list-style: none;
  text-align: center;
  padding: 0;
}

.footer__menu-list-item {
  margin-bottom: -5px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  list-style: none;
  gap: 48px;
}

.footer__menu-link {
  color: black;
}

.footer__menu-link_active {
  text-decoration: none;
}
