.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  text-transform: lowercase;
  list-style: circle;
}

.header__link {
  color: black;
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.address a {
  color: black;
}

.header__address {
  justify-self: end;
  width: 240px;
  font-size: 18px;
  line-height: 24.3px;
}

.cover__title {
  position: relative;
  padding-top: 162px;
  padding-right: 0;
  padding-bottom: 72px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  width: 100%;
  margin-bottom: 23px;
}

.aligned-text:last-child {
  margin-bottom: 0;
}

.cover__title-left {
  padding-left: 50px;
  text-align: left;
}

.cover__title-center {
  text-align: center;
  text-indent: 0.3em;
}

.cover__title-right {
  padding-right: 20px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px 50px 50px;
}

.cover__description-text {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 19px;
  font-optical-sizing: auto;
}

.bet-button {
  flex-shrink: 0;
  width: 256px;
  height: 51px;
  border: 1px solid white;
  padding: 0;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  background: transparent;
  appearance: none;;
}

.lots__heading {
  padding-bottom: 24px;
  padding-left: 64px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  gap: 10px;
  margin-top: 2px;
  padding-right: 15px;
  padding-left: 15px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  text-decoration: none;
}

.card_type_film {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/lots-images/lots-film.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url(../images/lots-images/lots-book.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url(../images/lots-images/lots-picture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  padding: 48px 40px 0 40px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
  height: 100%;
}

.card__text {
  margin-bottom: 8px;
  padding: 0px 40px 40px 40px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  text-decoration: none;
}

.lots__look-more-link {
  display: block;
  padding-top: 33px;
  padding-left: 65px;
  color: black;
  font-size: 20px;
  text-decoration: underline;
  text-transform: lowercase;
}

.about__column {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
  justify-items: start;
  gap: 72px;
  padding-left: 70px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__description {
  grid-column: auto;
  padding-top: 133px;
}

.about__title {
  padding-top: 3px;
  padding-bottom: 101px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: block;
  width: 670px;
  padding-bottom: 23px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.about__text-second-paragraph {
  width: 690px;
  padding-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;

}

.footer__address {
  justify-self: start;
  width: 300px;
  padding-left: 51px;
  font-size: 18px;
  line-height: 24.3px;
}

.footer__menu-list {
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  text-transform: lowercase;
  list-style: none;
}

.footer__menu-list-item {
  margin-bottom: -5px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 48px;
  padding-left: 20px;
  list-style: none;
}

.footer__menu-link {
  color: black;
}

.footer__menu-link_active {
  text-decoration: none;
}